<li [ngClass]="{'list-group-item': true,
      'list-group-item-success': postLoveIts > 0,
      'list-group-item-danger': postLoveIts < 0}">
  <p class="pull-right">{{ postCreationDate }}</p>
  <h2 [ngStyle]="{color: getColor(), fontWeight: 'bold'}">{{ postTitle }}</h2>
  <p [ngStyle]="{color: getColor()}">{{ postContent }}</p>
  <button class="btn btn-success" (click)="onLovePost()">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    Love it!
  </button>
  <button class="btn btn-warning" style="margin-left: 5px" (click)="onDontLovePost()">
    <span class="glyphicon glyphicon-thumbs-down"></span>
    Don't love it!
  </button>
  <button class="btn btn-danger" style="margin-left: 5px" (click)="onDeletePost(postToDelete)">
    <span class="glyphicon glyphicon-trash"></span>
    Supprimer post
  </button>
</li>
