<mat-card>
  <div class="form-group row">
    <div class="col-md-1">
      <img [src]="logoPath" alt="logo" style="width: 100%; border-radius: 50%;">
    </div>
    <div class="col-md-11">
      <p class="pull-left" style="font-style: italic;">Publié par Nom de l'auteur</p>
      <p class="pull-right">{{ post.createdAt }}</p>
      <br/>
      <h2 [ngStyle]="{fontWeight: 'bold'}">{{ post.title }}</h2>
      <p align="justify">{{ post.content }}</p>
      <br/>
      <button class="btn btn-default pull-right" title="Ajouter un commentaire" (click)="openDialog()">
        <span class="glyphicon glyphicon-comment"></span>
        Ajouter un commentaire
      </button>
      <button class="btn btn-default" (click)="onBack()">Retour</button>
      <button class="btn btn-success" style="margin-left: 5px" (click)="onLovePost()" title="J'aime ce post">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        {{ post.loveIts }}
      </button>
      <button class="btn btn-warning" style="margin-left: 5px" (click)="onDontLovePost()" title="J'aime pas ce post">
        <span class="glyphicon glyphicon-thumbs-down"></span>
        {{ post.dontLoveIts }}
      </button>
      <button class="btn btn-danger" style="margin-left: 5px" (click)="onDeletePost(post)" title="Supprimer ce post">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <br/>
      <br/>
      <br/>
      <app-post-list-item-comment *ngFor="let comment of postComments; let i = index"
                                  [commentContent]="comment.content"
                                  [commentCommentAt]="comment.commentAt"
                                  [commentLikeComment]="comment.likeComment"
                                  [commentDontLikeComment]="comment.dontLikeComment"
                                  [comment]="comment"
                                  [commentIndex]="i"></app-post-list-item-comment>
      <br/>
      <br/>
    </div>
  </div>
</mat-card>

