<div class="row">
  <div class="col-xs-12">
    <h2 [ngStyle]="{fontWeight: 'bold'}">Posts</h2>
    <ul class="list-group">
      <app-post-list-item *ngFor="let post of posts; let i = index"
                     [postTitle]="post.title"
                     [postContent]="post.content"
                     [postCreationDate]="post.createdAt"
                     [postToDelete]="post"
                     [postIndex]="i"
                     [postLoveIts]="post.loveIts"></app-post-list-item>
    </ul>
  </div>
</div>
